/*Files: nih_index.html, nih_mission.html, nih_team.html, nih_team-faculty.html,
 *		nih_team-students.html, nih_resources.html, nih_publications.html, nih_contact.html
 * 
 * This file provides the fonts and overall layout and design
 * of the NIH COHORT website.
 *
 * Contents: Section 01: Reset margins, padding, and define size of webpage
 *			 Section 02: Define default fonts for page	
 *			 Section 03: Header section styling
 *			 Section 04: Navigation bar section styling
 *			 Section 05: Page content section styling
 *			 Section 06: Faculty Profile styling
 *			 Section 07: Subpages section styling
 *			 Section 08: Column-section section styling
 *			 Section 09: Footer section styling
 */
 
/******************************************************************************
 * Section 01: Reset margins, padding, and define size of webpages
 *
 * This section resets all the margins and padding, and defines the webpage size.
 *****************************************************************************/
  
/* 
 * This resets the margins for the entire html document so elements
 * can appear all the way to the top of browser page. Helps with the 
 * design and aesthetics. Makes the entire html document span width of page.
 */
 
html, body {
 padding: 0;
 margin: 0;
 width: 100%;
}

/* 
 * This section sets the background image of the entire page.
 * Makes sure that the background image is fixed, does not repeat
 * and covers the entire webpage. In addition, all contents
 * are centered on the page.
 */

body {
 background-image: url('http://i.imgur.com/ilJ3Bn4.png');
 /* ensures background spans entire width of header */
 background-size: cover;
 background-repeat: no-repeat;
 left: 0;
 right: 0;
 margin-left: auto;
 margin-right: auto;
 position: fixed;
}
 
/* 
 * This declares the required size of 800x600 for the entire webpage
 * where all the contents and graphics must be contained in.
 * Made the max width 700px to be safe everything is contained within the max
 */

.page-size {
 width: 750px; 
 left: 0;
 right: 0;
 margin-left: auto;
 margin-right: auto;
}

/*
 * This styles all the unordered lists that appear on the website. 
 * The bullet points are removed for aesthetic purposes. The margin is made -50px
 * to the left to compensate the space of the bullet points.
 */

ul {
 list-style: none;
 font-size: 0.9em;
 text-align: center;
 margin-left: -50px;
}

/*
 * This puts a little bit of space between each bullet element of an unordered list.
 */

ul li {
 padding-bottom: 6px;
}
 
/******************************************************************************
* Section 02: Define default fonts for page
*
* This section defines the default fonts used for the entire page.
* So far, the fonts are being sourced from Google's font API.
* The fonts used are:
*			Headers (h1, h2, etc.): Jura
*			regular text: Open Sans
* For design, choose sans-serif style fonts.
******************************************************************************/

/*
 * This imports the Jura and Open Sans font for the website from Google fonts
 */
 
@import url(https://fonts.googleapis.com/css?family=Jura|Open+Sans:400,600);

/* 
 * This makes all p tags with 'Open Sans' font by default.
 * If not available, the back-up fonts are first Helvetica then Verdana.
 * If neither of the back-ups are available, then use the machine's default
 * sans-serif font.
 * Makes all p tags font color black.
 */
 
* {
 font-family: 'Open Sans', Helvetica, Verdana, sans-serif;
 color: black;
}
 
 
/* 
 * This makes all "title" classes with the default font 'Jura'.
 * All header tags are classed in "title" since each header tag
 * in each of the sections have their own styling.
 * If the font is not available, then the page will use the 
 * machine's default sans-serif font.
 * Makes all title classes font color black.
 */
 
.title {
 font-family: 'Jura', sans-serif;
 color: black;
}
 
/******************************************************************************
* Section 03: Header section styling
*
* This section contains all the styling information for the header div in
* the html document. It declares the banner image used for the header, the
* margins of the title and subtitle, and the font-size of the title and subtitle.
******************************************************************************/

/*
 * This defines the banner image for the header by making the image the background.  
 */

#header {
 padding: 0px 10px 0px 0px;
 margin-top: 35px;
 margin-bottom: 40px;
 text-align: center;
}
 
/*
 * This changes the font size of the h1 tag (title of webpage).
 * Also moves it to the right a little bit for aesthetics.
 * Decrease margin-bottom so subtitle is closer to it
 */ 
 
#header h1 {
 font-size: 3.5em;
 margin-top: -15px;
 margin-bottom: -20px;
}
 
/*
 * This changes the font size of the h4 tag (subtitle of webpage).
 * Also moves it to the right a little bit for aesthetics.
 */
 
#header h4 {
 font-size: 1.4em;
}
 
/******************************************************************************
* Section 04: Navigation bar section styling
*
* This section contains all the styling information for the nav div in
* the html document. It declares the navigation bar size, its background color,
* and the styling effects when the user hovers over the buttons.
* The navigation bar are already linked to their respective pages.
******************************************************************************

/*
 * This is styling for the NIH Cohort logo in the navigation bar
 * So far, the logo is just the text name, it is just a placeholder for now
 */

#logo {
 display: inline-block;
 float: left;
 text-align: center;
 height: 31px;
 padding-top: 10px;
 margin-top: auto;
}
 
/*
 * This declares the size of the navigation bar.
 */
 
#nav {
 height: 35px;
 width: 100%;
 /* removes the white space gap between the nav links */
 display: flex;
 background-color: rgba(0, 0, 0, 0.2);
}
 
/*
 * This declares font-size for each link.
 * Also centers the text and provides a little padding to the top to center vertically.
 */
 
.nav-btn {
 float: right;
 display: inline-block;
 text-align: center;
 font-size: 0.7em;
 width: 80px;
 height: 31px;
 padding-bottom: 4px;
}
 
/*
 * This changes styles the links when the user hovers over them.
 * The background color gets lighter and the transition of the background is animated,
 * takes half a second for the background color to change.
 */
 
#nav .nav-btn:hover {
 background-color: rgba(255, 255, 255, 0.4);
 transition: background-color .5s;
}

/*
 * This styles the actual links in the nav bar. Changes them to blocks
 * so link can span the entire width and height of button. Makes entire
 * button the link.
 */

#nav a {
 display: block;
 height: 100%;
 text-decoration: none;
}

/*
 * This removes any text decoration to the link when it has already
 * been visited. Keeps the simple white font.
 */

#nav a:visited {
 text-decoration: none;
}

/******************************************************************************
* Section 05: Page content section styling
*
* This section contains all the styling information for the header div in
* the html document. It declares the banner image used for the header, the
* margins of the title and subtitle, and the font-size of the title and subtitle.
******************************************************************************/
 
/* 
 * Trying to figure out why need an empty CSS block for the page-content
 * section to get the CSS styling.
 */
 
#page-content {
	 
}

/*
 * This applies the styling to all the elements in the page-content section. Slight
 * padding on the right of text to balance the indentation on the left. (For aesthetics)
 * This also makes the background of the page-content section have a light gray background.
 */

#page-content {
 margin-top: -8px;
 padding-top: 10px;
 padding-bottom: 10px;
 padding-left: 15px;
 padding-right: 15px;
 background-color: rgba(0, 0, 0, 0.1);
}

/*
 * This styles the title of the page-content section. Defines the
 * font size and some spacing.
 */

#page-content h2 {
 font-size: 1.3em;
 padding-top: 4px;
 margin-bottom: -5px;
 text-align: center;
}

/*
 * This changes the font size of the text in the page-content section.
 * A little bit of spacing around the text to center content more in the container.
 */

#page-content p {
 padding-left: 8px;
 padding-right: 8px;
 font-size: 0.9em;
 font-weight: 400;
 text-align: center;
}

/*
 * This styles the resource list on the resource page.
 * The list is left-aligned and smaller font to save space.
 */

#resource-list ul li {
 text-align: left;
 font-size: 0.9em;
}

/* 
 * This styles the links in page-content section
 * No text decoration is applied to the links
 */

#page-content a:link {
 text-decoration: none;
 font-weight: 600;
}

/*
 * This styles a link when the cursor hovers over it
 * Only applies to links children of page-content
 * When hovered, the links are underlined and font color changes
 */

#page-content a:hover {
 color: #595959;
 text-decoration: underline;
}

/******************************************************************************
* Section 06: Faculty profile styling
*
* This section contains all the styling for the faculty profile pictures for their bios
* on the nih_team-faculty.html page.
******************************************************************************/

/*
 * This inserts Dr. Obeid's profile picture in the .profpic class div as a background.
 * This allows more control of resizing the image without distorting the quality and its dimensions.
 */
 
#obeidpic {
 background-image: url('http://i.bnet.com/blogs/iyad-obeid-200x300.jpeg');
}

/*
 * This inserts Dr. Picone's profile picture in the .profpic class div as a background.
 * This allows more control of resizing the image without distorting the quality and its dimensions.
 */
 
#piconepic {
 background-image: url('https://media.licdn.com/media/AAEAAQAAAAAAAAVzAAAAJGY0MzZmNTQ3LWFjZDQtNDQwYS04MzMxLWRiOGRhNDg3MGFjMg.jpg');
}

/*
 * This inserts Dr. Harabagiu's profile picture in the .profpic class div as a background.
 * This allows more control of resizing the image without distorting the quality and its dimensions.
 */
 
#harabagiupic {
 background-image: url('https://www.utdallas.edu/chairs/profiles/images/Harabagiu_1.jpg');
}

/*
 * This styles the empty div that will contain the profile picture of the faculty for this project.
 * This alters the size of the picture and contains the image in a circle. It makes the picture
 * align to the left of all the bio text. The profile picture is made size 80x80.
 */

.profpic {
 float: left;
 height: 80px;
 width: 80px;
 background-size: cover;
 background-repeat: no-repeat;
 border-radius: 100%;
 margin-right: 5px;
}

/*
 * This inserts styles the faculty's name, position in project, and education.
 */

#faculty-bio .profname {
 display: inline-block;
 text-align: left;
 font-size: 0.8em;
 margin-top: -13px;
}

/*
 * This styles the text of the faculty bio. They text is made smaller so it will
 * fit within the 600px height limit.
 */

#faculty-bio .profbio {
 margin-top: -13px;
 font-size: 0.71em;
}


/******************************************************************************
* Section 07: Subpages section styling
*
* This section styles the buttons for the subpages about this project. 
* These buttons are here if needed if they are different from the ones on
* the navigation bar.
******************************************************************************/
 
/* 
 * This removes the whitespace between the subpage buttons.
 */
 
#subpages {
 display: flex;
 margin-top: 10px;
 margin-bottom: 10px;
}

/*
 * This makes the buttons line next to each other on the same line.
 * Defines the width of button, centers text, button color,
 * and some spacing adjustments to center the button text.
 */
 
#subpages .subpage-btn {
 background-color: #b3b3b3;
 display: inline-block;
 width: 150px;
 margin: auto;
 padding-top: 8px;
 text-align: center;
 border-radius: 23px;
}

/*
 * This makes the subpage headings have 0 margin and padding to save space. Changes
 * the size of the text slightly smaller than h2 (but bigger than h3) since h2 is 1.5em
 */

#subpages h2 {
 display: inline-block;
 font-size: 1.2em;
}

/*
 * This makes the text of the subpage description slightly smaller than normal
 * to save space.
 */
 
#subpages p {
 margin-top: -15px;
 font-size: 0.7em;
}

/*
 * This styles the actual link text by defining font color and
 * removing any text-decoration. Change the display of a tag
 * to block so link spans entire size of the button.
 */

#subpages a {
 display: block;
 height: 100%;
 text-decoration: none;
 margin-top: -10px;
}

/*
 * This removes any text-decoration to the visited link text.
 */

#subpages a:visited {
 text-decoration: none;
}
 
/*
 * This styles the buttons when viewers hover over them. Makes it more obvious
 * to the viewers that they are links. The button gets a little lighter and the
 * color changes in half a second
 */
 
#subpages .subpage-btn:hover {
 background-color: #d9d9d9;
 border-radius: 23px;
 transition: background-color .5s;
}
 
/******************************************************************************
* Section 08: Column-section section styling
*
* This section contains the styling for the column-section section of the webpage.
* The font-styling, background color, height of section, and some margin adjustments are done.
******************************************************************************/
 
/*
 * This styles the entire column-section that will apply to all the 
 * children elements in this class. The background is made transparent, all
 * text is centered by default and the margin-top is decreased to save space.
 */
 
.column-section {
 background-color: transparent;
 text-align: center;
 margin-top: -10px;
}
 
/*
 * This divides a container into 4 equal width columns
 */
 
.col-block-4{
 float: left;
 margin: auto;
 width: 21%;
 padding-top: 15px;
 padding-left: 22px;
}

/*
 * This divides a container into 2 equal width columns
 */

.col-block-2 {
 float: left;
 margin: auto;
 width: 45%;
 padding-top: 15px;
 padding-left: 5%;
}

/* 
 * This makes the column text slightly smaller to save space
 */

.col-block-4 p, .col-block-2 p {
 font-size: 0.8em;
}

/* 
 * This styles unordered list children of .col-block-2
 */
 
.col-block-2 ul {
 list-style: none;
 font-size: 0.7em;
 text-align: center;
 padding-right: 10px;
}

/* 
 * This styles unordered list children of .col-block-4
 * The bullet points are removed, there is padding-left
 * to position the text in the center and the font-size is smaller
 */
 
.col-block-4 ul {
 padding-left: 55px;
 list-style: none;
 text-align: center;
 font-size: 0.7em;
}

/* 
 * This styles the link children of col-block-2
 * No text decoration is applied to the links
 */

.col-block-2 a:link {
 text-decoration: none;
}

/*
 * This styles a link when the cursor hovers over it
 * Only applies to links children of col-block-2
 * When hovered, the links are underlined and font color changes
 */

.col-block-2 a:hover {
 color: #595959;
 text-decoration: underline;
}
 
/* 
 * This makes the titles have a heavier weight to make the title more noticeable. 
 */
 
.column-section h4 {
 font-size: 1em;
 margin-top: 5px;
 margin-bottom: -5px;
 font-weight: 600;
}
 
/******************************************************************************
* Section 09: Footer section styling
*
* This section styles the footer of the page. The footer contains any copyright
* information, credits, and acknowledgements that need to be displayed.
******************************************************************************/
 
/* This styles the footer's font and background. 
 * Small padding to center the text vertically.
 */
 
#footer {
 clear: both;
 background-color: rgba(0, 0, 0, 0.1);
 font-size: 0.7em;
 /* This makes the footer span rest of webpage height */
 height: 100vh;
 text-align: right;
}
 
/*
 * This make the design credit text a very transparent white so it won't be so noticeable.
 */
 
#design {
 color: rgba(0, 0, 0, 0.3)
}